/* UTIL CLASSES */
.white {
  color: #f8f8f8;
}

@keyframes BackgroundGradient {
  0%, 100% {
    background: cornflowerblue;
  }
  30% {
    background: blueviolet;
  }
  60% {
    background: mediumvioletred;
  }
}

html {
  animation: BackgroundGradient 9s ease infinite;
}

body {
  background: transparent;
}

section {
  background: #f9f9f9;
}

/* HEADER */
header {
  height: 80vw;
  max-height: 700px;
  min-height: 300px;
  background: transparent !important;
}
header h1 {
  font-weight: bold;
  font-family: 'Norican', cursive;
  text-shadow: 5px 5px rgba(0, 0, 0, .2);
  margin: 0;
}
header p {
  font-family: 'Lato', sans-serif;
  text-shadow: 3px 3px rgba(0, 0, 0, .2);
}

/* CREATE */
/* #create {

} */

/* FOOTER */
footer a {
  color: #f9f9f9;
}
footer a:hover {
  color: #111;
}

/* FLUID TYPOGRAPHY */
header h1 {
  font-size: 80px;
}
header p {
  font-size: 20px;
}
@media screen and (min-width: 250px) {
  header h1 {
    font-size: calc(80px + 120 * ((100vw - 250px) / 1350));
  }
  header p {
    font-size: calc(20px + 12 * ((100vw - 250px) / 1350));
  }
}
@media screen and (min-width: 1600px) {
  header h1 {
    font-size: 200px;
  }
  header p {
    font-size: 32px;
  }
}
